.record_store {
  background-color: #330000;
  color: #cc0000;
  text-align: center;
}

.record_collection {
  background-color: gainsboro;
  padding: 1em;
}

body {
  background-image: url(record.png);
  background-repeat: repeat;
  background-size: 2%;
  margin: 0;
}
